* {
 margin:0;
 padding:0;
 box-sizing: border-box; 
}

body {
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: 'Be Strong';
  src: url('fonts/Be Strong regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#newFont{
  font-family:'Be Strong';
}

.navbar-nav {
  padding-right:4%;
  margin-left: auto;
}

.main_header {
 background-color:rgba(37,37,37,0.7);
}


.banner {
 width:100%;
 height:100vh;
 background-image: url("../public/images/pizza_banner1.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
}

.banner_content {
  display:flex;
  height:100vh;
  color:#fff;
}


.container {
  width:1200px;
  max-width:1200px;
  margin: 0 auto;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff !important;
  padding: 0 15px;
  font-weight: 800;
  text-transform: uppercase;
}

.banner_text {
  width:650px;
  margin-top: 35px;
  margin-left: auto;
}

.banner_text h3 {
  font-size: 50px;
}

.banner_text h1 {
  font-size: 60px;
  line-height: 80px;
  font-weight: 900;
  margin-top: 20px;
}

.banner_text p {
  font-size: 25px;
  font-weight: 400;
  margin-top: 20px;
  margin-right:25px;
}

.banner_btn {
  margin-top: 30px;
}

.btn {
  text-decoration: none;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 700;
  border-radius: 30px;
  font-size: 12px;
  padding: 20px 40px;
}

.btn-smart {
  background: rgb(255, 69, 79);
}

.logo_text {
 color:#fff;
 font-size: 27px;
}

.about {
  padding: 80px 0;
}

.p-45 {
  padding: 45px;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  width: 50%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333333333333%;
}

.section_heading {
  color: rgba(37,37,37,0.7);
  font-size:30px;
  margin-bottom: 12px;
 /* font-weight: 700px !important;*/
}

.about h1 {
  font-size: 40px;
  font-weight: 700px;
  color:#252525;
  margin-bottom: 15px;
  line-height: 40px;
}

.about p {
  font-size:18px;
  font-weight: 300px;
  color: #8b8b8b;
}

.about_img {
  width:100%;
  overflow: hidden;
}

.about_img img {
  width: 100%;
}

.about_btn {
  margin-top: 30px;
}

.shop {
  width:100%;
  background-image: url("../public/images/bg.jpg");
  height: 450px;
  background-attachment: fixed;
}

.shop_text {
  height:450px;
  display: flex;
  align-items: center;
  max-width:400px;
  justify-content: center;
  color: #fff;
 
  
}

.shop_text h1 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.5px;
}

.shop_btn {
  margin-top: 40px;
}

.card_style{
  cursor: pointer;
  transition: .3s;
  width: 23rem !important;
}

.prices {
  width: 100%;
  padding: 30px 0;
}

.prices h3 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding:20px 0;
  color:rgba(37,37,37,0.7)
}

.price {
  padding: 20px;
  text-align: center;
}

.price_img {
  width: 100%;
}

.price_img img {
  width: 250px;
}

.price_heading {
  margin-top: 20px;
  font-size: 25px;
}

.price_text {
  margin-top: 15px;
  color: #888888;
  font-size: 18px;
  font-weight: 300;
}

.price_rs {
  font-size: 30px;
  margin-top: 15px;
}

.contact_div h5 {
  font-weight: 600;
}

.social_icons_btn{
  color:#dc3545;
  font-size:28px;
} 

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .main_header {
    line-height: 300%;
    text-align: center;
  }

  .logo_text {
    font-size: 20px;
  }

  .container {
    max-width: 100%;
    padding-left: 25px;
  }

  .banner{
    background: url("../public/images/pizza_banner1.jpg") no-repeat;
    height:100vh;
    background-size: cover;
  /*  background-position: 80%;*/
    background-attachment: fixed;
  }

  .banner_content {
    flex:auto;
    padding:0 20px;
  }

  .banner_text h3 {
    font-size: 25px;
  }

  .banner_text h1 {
    font-size: 40px;
    line-height: 60px;
    font-weight: 900;
    margin-top: 20px;
  }

  .banner_text p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
  }


  .col-3,
  .col-4,
  .col-6 {
    width: 100%;
  }

  .about h1 {
    font-size: 25px;
  }

  .shop h1 {
    font-size: 25px;
  }

  .menu h1 {
    font-size: 25px;
  }

  .banner_btn {
    margin-top: 10px;
  }

  .about_content{
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .btn {
    border-radius: 15px;
    font-size: 12px;
    padding: 10px 15px;
  }

  .about_btn {
    margin-bottom: 20px;
  }

  .shop {
    background: url("../public/images/bg.jpg") no-repeat;
    height:100vh;
    background-size: cover;
    background-position: 69%;
    background-attachment: fixed;
  }

  .shop_text {
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .card_style {
    width:22rem !important;
}

.card_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 18rem;
  height: 18rem !important;
}

  .card-title {
    font-size:18px;
   }

   .section_heading {
    font-size:25px;
   }

   .prices h3 {
    font-size: 25px;
   }

}